body {
        background: black;
        color: white;
        text-align: center;
        font-family: sans-serif;
      }

   
      .pointer {
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 30px solid red;
        margin: 20px auto;
      }

    
      .wheel {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: auto;
        border: 8px solid orange;
        position: relative;
        background: conic-gradient(
          yellow 0deg 45deg,
          black 45deg 90deg,
          yellow 90deg 135deg,
          black 135deg 180deg,
          yellow 180deg 225deg,
          black 225deg 270deg,
          yellow 270deg 315deg,
          black 315deg 360deg
        );
        transition: 4s ease-out;
      }

 
      .label {
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: 0 0;
        font-size: 14px;
        font-weight: bold;
      }

      .yellow {
        color: black;
      }
      .black {
        color: white;
      }

      .l1 {
        transform: rotate(0deg) translate(90px);
      }
      .l2 {
        transform: rotate(45deg) translate(90px);
      }
      .l3 {
        transform: rotate(90deg) translate(90px);
      }
      .l4 {
        transform: rotate(135deg) translate(90px);
      }
      .l5 {
        transform: rotate(180deg) translate(90px);
      }
      .l6 {
        transform: rotate(225deg) translate(90px);
      }
      .l7 {
        transform: rotate(270deg) translate(90px);
      }
      .l8 {
        transform: rotate(315deg) translate(90px);
      }

   
      button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 18px;
      }

      .result {
        margin-top: 20px;
        font-size: 22px;
        color: lime;
      }
      .wheel {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin: auto;
        margin-top: 40px; /* 🔻 SHU QO‘SHILDI */
        border: 8px solid orange;
        position: relative;
        background: conic-gradient(
          yellow 0deg 45deg,
          black 45deg 90deg,
          yellow 90deg 135deg,
          black 135deg 180deg,
          yellow 180deg 225deg,
          black 225deg 270deg,
          yellow 270deg 315deg,
          black 315deg 360deg
        );
        transition: 4s ease-out;
      }

  
      .confetti {
        position: fixed;
        width: 10px;
        height: 10px;
        top: 0;
        animation: fall 3s linear forwards;
      }

      @keyframes fall {
        to {
          transform: translateY(100vh) rotate(720deg);
        }
      }
